@font-face {
  font-family: 'MyFont-unique';
  src: url('./fonts/Unique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyFont-video_title';
  src: url('./fonts/video_title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyFont-disney';
  src: url('./fonts/disney.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont-lovely';
  src: url('./fonts/lovely.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    position: relative;
    background: linear-gradient(to right, #000, #161616);
    overflow-x: hidden;
}

body canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* canvas is at the back */
    background: linear-gradient(to right, #000, #161616);
}

.overlay_body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* between canvas (-1) and content (default 1 or auto) */
    pointer-events: none; /* so it doesn't block clicks if it's just visual */
    background: #000;
  }

.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menubar li a {
  position: relative;
  font-family: 'MyFont-disney';
  text-decoration: none;
  font-size: x-small;
  font-weight: 500;
  color: #f6fbee;
  padding: 8px 16px;
  transition: color 0.3s ease;
}


.menubar li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #d609ce;
  transition: width 0.3s ease;
}

.menubar li a:hover::after {
  width: 100%;
}

.menubar li a:hover {
  color: #d609ce;
}

.main_banner_text{
    font-family: 'MyFont-disney';
    color:#f6fbee;
}

.main_banner_subtext{
    font-family: 'MyFont-disney';
    color:#f6fbee;
}

.video_text{
    font-family: 'MyFont-video_title';
    color:#f6fbee;
    margin-top: 10px;
    margin-left: 10px;
}

.video_details{
    font-family: 'MyFont-video_title';
}

/* Slider */ 
.card {
  width: 300px;
  flex: 0 0 auto; 
  height: 200px;
  background: #243137;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  scroll-snap-align: start;
}

.card2 {
  width: 300px;
  flex: 0 0 auto; 
  height: 500px;
  background: #243137;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  scroll-snap-align: start;
}

.card3 {
  width: 300px;
  flex: 0 0 auto; 
  height: 300px;
  background: #243137;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  scroll-snap-align: start;
}

#logo-main, #logo-second {
  height: 100%;
}

#logo-main {
  fill: #bd9f67;
}

#logo-second {
  padding-bottom: 10px;
  fill: none;
  stroke: #bd9f67;
  stroke-width: 1px;
}

.border {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #bd9f67;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content {
  transition: all 0.5s ease-in-out;
}

.content .logo {
  height: 35px;
  position: relative;
  width: 33px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.content .logo .logo1 {
  height: 33px;
  position: absolute;
  left: 0;
}

.content .logo .logo2 {
  height: 33px;
  position: absolute;
  left: 33px;
}

.content .logo .trail {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.card:hover .logo {
  width: 134px;
  animation: opacity 1s ease-in-out;
}

.card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

.card:hover .trail {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid #bd9f67;
  }

  80% {
    border-right: 1px solid #bd9f67;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail {
  0% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
    opacity: 0;
  }

  30% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
    opacity: 1;
  }

  70% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
    opacity: 1;
  }

  95% {
    background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
    opacity: 0;
  }
}

.horizontal_slider {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  will-change: transform;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  scrollbar-width: none;          
  -ms-overflow-style: none;       
}

.btn_uiverse {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btn_uiverse:hover {
  background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn_uiverse:hover .text {
  color: white;
}

.btn_uiverse:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 

/* category */
.container_category {
  margin: 40px auto;
  padding: 40px 20px;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1_category {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 60px;
  color: #1e2246;
  position: relative;
}

.h1_category::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #1e2246;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.cards_category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.card_category {
  background-color: rgba(0, 0, 0,0.5);
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
}

.card_category:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.icon_category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.icon_category i {
  height: 50px;
  width: 50px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon_category i.fa-paintbrush {
  background: linear-gradient(to bottom right, #bbcbfb, #f1d4ff);
}

.icon_category i.fa-code {
  background: linear-gradient(to bottom right, #fbbbda, #ffd4d4);
}

.icon_category i.fa-cog {
  background: linear-gradient(to bottom right, #bbebfb, #efd4ff);
}

.icon_category i.fa-user-group {
  background: linear-gradient(to bottom right, #bbfbe4, #d4e0ff);
}

.icon_category i.fa-clipboard {
  background: linear-gradient(to bottom right, #bbd8fb, #ffd4d4);
}

.icon_category i.fa-graduation-cap {
  background: linear-gradient(to bottom right, #ffdec7, #d4d9ff);
}

.title_category {
  font-family:'MyFont-video_title' ;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #f6fbee;
}

/* Responsive Design */
@media (max-width: 980px) {
  .cards_category {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card_category {
    padding: 35px 20px;
  }

  .h1_category {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .h1_category {
    font-size: 28px;
  }

  .card_category {
    padding: 30px 15px;
  }
}

@media (max-width: 480px) {
  .cards_category {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card_category {
    padding: 25px 12px;
  }

  .h1_category {
    font-size: 24px;
  }

  .title_category {
    font-size: 1rem;
  }
}

/* video lesson content */

    .elegant-list .list-group-item {
        background-color: transparent;
        color: #fff;
        border: none;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

        .elegant-list .list-group-item:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

    .elegant-list {
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.15); /* transparent white */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0;
        overflow: hidden;
    }

    .sub-list {
        display: none;
        background-color: rgba(255, 255, 255, 0.1);
        border-left: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
    }

        .sub-list .list-group-item {
            background-color: transparent;
            border: none;
            color: #fff;
            padding-left: 2rem;
        }
/* Comments */
